/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  /* place-content: center;
  align-items: center; */
  background-color: gray;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.btn {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem
}

.completed {
  text-decoration: line-through;
}